.tweet-header {
  width: 600px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}
.tweet-title {
  width: 95%;
  margin: 15px 0px 0px 20px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.tweet-icon {
  margin: 15px 10px 0px 0px;
  font-size: 1.4em;
  color: #1a91da;
}
