html,
body {
  height: 100%;
}
ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  height: 100%;
}
li {
  margin: 0 0 20px 0;
  background-color: white;
  border-radius: 30px;
  min-width: 30%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
}
li:hover {
  background-color: #e8f5fe;
  color: #1a91da;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
.menuItem {
  padding: 20px;
  padding: 20px;
  padding-left: 10px;
}
