html,
body {
  height: 100%;
}

.menu-item {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  width: 210px;
  height: 542px;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  height: 100%;
}
li {
  margin: 0px 0 10px 0;
  background-color: white;
  border-radius: 30px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
li:hover {
  background-color: #e8f5fe;
  color: #1a91da;
  cursor: pointer;
}
.navigation-container{
  margin-top: 8px;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
.navigationItem{
  padding: 20px;
}
