.hashtag-list {
  height: 560px;
  width: 93%;
  background-color: #f5f8fa;
  border-radius: 15px;
  padding: 10px;
}
.hashtag-list p {
  font-size: 12px;
}
.trend-topic-container {
  border-top: 0.5px solid #e6ecf0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.trend-topic-container:hover{
    background-color:#EDF0F2;
}
.trend-topic-container p {
  padding: 5px;
}
.hashtag-header {
  display: flex;
  flex-direction: row;
}
.hashtag-header p {
  display: flex;

  align-items: flex-start;
}
.hashtag-header div {
  text-align: left;
}
.show-more {
  border-top: 0.5px solid #e6ecf0;
  display: flex;
  align-items: flex-start;

}
.show-more a{
    margin: 10px 0px 0px 15px;
}
