.container {
  position: absolute;
  width: 1225px;
  left: calc(50% - 1225px / 2 - 0.5px);
  top: 0px;
  bottom: 0px;
  height: 840px;
}

.container .row {
  display: flex;
  flex-direction: row;
}

.home-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 5px;
}
.left-side {
  position: absolute;
  width: 275px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-right: 0.5px solid #e6ecf0;
}
.right-side {
  position: absolute;
  width: 320px;
  left: 905px;
  top: 0px;
  bottom: 0px;
}
.mid-side {
  position: absolute;
  width: 600px;
  left: 275px;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  border-right: 0.5px solid #e6ecf0;
}
