.trend-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  height: 540px;
  background: #f5f8fa;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-radius: 20px;
}

.trend-list p {
  font-size: 12px;
}
.trend-topic-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  position: static;
  width: 320px;
  height: 76px;
}
.trend-topic-row {
  margin-top: 5px;
  border-top: 0.5px solid #e6ecf0;
  text-align: left;
}
.trend-topic-row:hover {
  background-color: #edf0f2;
}
.trend-topic-row p {
  padding: 5px;
}
.trend-country {
  opacity: 0.6;
  margin-left: 10px;
  margin-bottom: -3px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 13px !important;
  line-height: 16px;
}
.trend-topic {
  margin-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px !important;
  line-height: 18px;
  margin-bottom: 3px;
}
.trend-count {
  opacity: 0.6;
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px !important;
  line-height: 18px;
}

.trend-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  width: 320px;
  height: 45px;
}
.header-title {
  font-size: 20px;
  font-weight: bold;
  width: 85%;
  text-align: left;
  margin-top: 6px;
}
.header-icon {
  margin-top: 11px;
  color: #1da1f2;
  font-size: 1.4em;
}
.show-more-row {
  border-top: 0.5px solid #e6ecf0;
  display: flex;
  align-items: center;
  justify-content: left;
}
.show-more-button {
  margin: 15px;
  text-decoration: none;
  color: #1da1f2;
}
